.checkPlan {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}
.checkPlan .checkPlan-header {
  margin-top: 2vh;
  display: flex;
  width: 100%;
  height: 8vh;
  line-height: 8vh;
  background-color: #fff;
  min-height: 60px;
}
.checkPlan .checkPlan-header .header-left {
  padding-left: 2%;
  width: 48%;
}
.checkPlan .checkPlan-header .header-right {
  text-align: right;
  width: 48%;
  padding-right: 2%;
}
.checkPlan .checkPlan-wrap {
  margin-top: 2vh;
  height: 73vh;
}
.checkPlan .checkPlan-wrap .checkPlan-dialog {
  background: rgba(128, 128, 128, 0.2);
  padding-left: 60%;
}
.checkPlan .checkPlan-wrap .wrap-table-page {
  margin-top: 5vh;
  text-align: center !important;
}
