.sortConfig {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;

  // 头部
  .sortConfig-header {
    margin-top: 2vh;
    display: flex;
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    background-color: #fff;
    min-height: 60px;
    // 头部左侧

    .header-left {
      padding-left: 2%;
      width: 48%;
    }

    // 头部右侧
    .header-right {
      padding-left: 20%;
      width: 30%;
      min-width: 400px;


      // 级联选择
      .sortConfig-cascader {
        margin-right: 10%;

        // 级联框内
        .el-input__inner {
          border: 1px solid #b5d9ff;
          border-radius: 4px;
          background-color: #ecf5ff;
        }

        .el-cascader__label {
          color: #409eff;
        }
      }
    }
  }

  // 列表
  .sortConfig-wrap {
    margin-top: 2vh;
    height: 73vh;

    .el-table {
      th {
        color: #555;
      }
    }

    .el-pagination {
      float: none;
    }

    .wra-page {
      margin-top: 5vh;
      text-align: center;
    }
  }
}
