.systemReport {
  margin: 1%;
  min-width: 1200px;

  // 头部
  .systemReport-up-half {
    display: flex;
    background-color: #fff;
    height: 80px;
    line-height: 80px;

    // 头部左侧
    .up-half-left {
      width: 70%;

      h3 {
        padding-left: 2vw;
      }
    }

    // 头部右侧
    .up-half-right {
      width: 30%;

      span {
        font-size: 16px;
        margin-right: 2%;
        margin-right: 5%;
      }
    }
  }

  // 下半部分
  .systemReport-down-half {
    padding-left: 5%;
    text-align: center;
    // 累积量报表

    .down-half-box {
      padding-top: 4%;
      display: flex;

      .half-box1 {
        width: 29%;
      }

      .half-box2 {
        width: 29%;
        margin: 0 4%;
      }

      .half-box3 {
        width: 29%;
      }
    }
  }
}
