  // 时间部分
  .Header-box1 {
    min-height: 100px;
    padding-left: 30%;
  }

  // 标题部分
  .Header-box2 {
    min-height: 100px;
    text-align: center;

    .box2-title {
      font-family: "STZhongsong";
      font-size: 32px;
      font-weight: normal;
    }
  }

  // 右侧部分
  .Header-box3 {
    min-height: 100px;
    text-align: center;
    display: flex;
    padding-left: 50%;

    .box3-warn {
      width: 20%;
    }
  }
