html,
body {
  height: 100%;
  width: 100%;
  background-color: #e2e2e2;

  .home {
    height: 100vh;
    display: flex;
    width: 100%; // 导航
    min-width: 1100px;

    .nav {
      height: 100vh;
      width: 10%;
      min-width: 220px;
      min-height: 800px;
      background-color: #14416E;

      .navLogo {
        padding-left: 10%;
        height: 80px;
        line-height: 80px;

        img {
          width: 90%;
        }
      }

      .navWrap {
        background-color: #14416E;
      }
    }

    // 主体
    .main {
      width: 100%;
      height: 100vh;
      min-height: 800px;
      background-color: #E2E2E2;

      .header {
        height: 80px;
        line-height: 80px;
        background-color: #fff;
      }
    }
  }
}
