.user {
  margin: 1%;
  background-color: #fff;
}
.user .form-submit1 .submit1-h4 {
  padding: 20px;
  border-bottom: 1px solid #666;
}
.user .form-submit1 .form-submit2 {
  width: 30%;
  background-color: #fff;
  padding: 50px;
}
.user .form-submit1 .form-submit2 .form-item-btn {
  display: flex;
  width: 400px;
}
.user .form-submit1 .form-submit2 .form-item-btn .confirm {
  margin-left: 60px;
}
