.user {
  margin: 1%;
  height: 86vh;
  background-color: #fff;

  .form-submit1 {
    .submit1-h4 {
      padding: 20px;
      border-bottom: 1px solid #666;
    }

    .form-submit2 {
      width: 410px;
      background-color: #fff;
      padding: 50px;

      .form-item-btn {
        text-align: center;
        width: 400px;

        .confirm {
          margin-left: 60px;
        }
      }
    }
  }
}
