.homePage {
  width: 100%;
  display: flex;
}
.homePage .icon-box {
  padding-top: 5%;
  padding-left: 10%;
  font-size: 24px;
  color: #fff;
}
.homePage .icon-box-number {
  padding-top: 5%;
  padding-left: 10%;
  font-size: 50px;
  color: #fff;
}
.homePage .homePage-leftHalf {
  width: 48.5%;
  margin-left: 1%;
  margin-top: 2vh;
}
.homePage .homePage-leftHalf .leftHalf-top {
  width: 100%;
  display: flex;
}
.homePage .homePage-leftHalf .leftHalf-top .leftHalf-top-first {
  width: 49%;
  margin-right: 2%;
  height: 22vh;
  background: #67BCDF url("../../images/homePage/on_line_bg.png") no-repeat center;
}
.homePage .homePage-leftHalf .leftHalf-top .leftHalf-top-second {
  width: 49%;
  height: 22vh;
  background: #61C3BB url("../../images/homePage/miss_bg.png") no-repeat center;
}
.homePage .homePage-leftHalf .leftHalf-map {
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 62vh;
  background-color: pink;
}
.homePage .homePage-rightHalf {
  width: 48.5%;
  margin-left: 1%;
  margin-right: 1%;
}
.homePage .homePage-rightHalf .rightHalf-top {
  width: 100%;
  display: flex;
  margin-top: 2vh;
}
.homePage .homePage-rightHalf .rightHalf-top .rightHalf-top-first {
  width: 49%;
  height: 22vh;
  margin-right: 2%;
  background: #E67D6F url("../../images/homePage/on_line_count.png") no-repeat center;
}
.homePage .homePage-rightHalf .rightHalf-top .rightHalf-top-second {
  width: 49%;
  height: 22vh;
  background: #E7A63F url("../../images/homePage/progress_bg.png") no-repeat center;
}
.homePage .homePage-rightHalf .rightHalf-ring {
  margin-top: 2vh;
  height: 40vh;
  background-color: #fff;
}
.homePage .homePage-rightHalf .rightHalf-ring p {
  padding-left: 2vw;
  height: 5vh;
  line-height: 5vh;
  color: #666;
  font-size: 16px;
}
.homePage .homePage-rightHalf .rightHalf-alarm {
  margin-top: 2vh;
  height: 20vh;
  margin-bottom: 2vh;
  background-color: #fff;
}
.homePage .homePage-rightHalf .rightHalf-alarm p {
  height: 5vh;
  padding-left: 2vw;
  line-height: 5vh;
  color: #666;
  font-size: 16px;
}
