// 首页
.homePage {
  width: 100%;
  display: flex;

  // 上面四个盒子通用样式
  .icon-box {
    padding-top: 5%;
    padding-left: 10%;
    font-size: 24px;
    color: #fff;
  }

  // 盒子内的数字样式
  .icon-box-number {
    padding-top: 5%;
    padding-left: 10%;
    font-size: 50px;
    color: #fff;
  }

  // 左半部分
  .homePage-leftHalf {
    width: 48.5%;
    margin-left: 1%;
    margin-top: 2vh;

    // 上部两个盒子
    .leftHalf-top {
      width: 100%;
      display: flex;

      // 上半部分第一个盒子
      .leftHalf-top-first {
        width: 49%;
        margin-right: 2%;
        height: 22vh;
        background: #67BCDF url("../../images/homePage/on_line_bg.png")no-repeat center;
      }

      // 上半部分第二个盒子
      .leftHalf-top-second {
        width: 49%;
        height: 22vh;
        background: #61C3BB url("../../images/homePage/miss_bg.png")no-repeat center;
      }
    }

    // 下部地图部分
    .leftHalf-map {
      margin-top: 2vh;
      margin-bottom: 2vh;
      height: 62vh;
      background-color: pink;
    }
  }

  // 右半部分
  .homePage-rightHalf {
    width: 48.5%;
    margin-left: 1%;
    margin-right: 1%;

    // 上部两个盒子
    .rightHalf-top {
      width: 100%;
      display: flex;
      margin-top: 2vh;

      // 上半部分第一个盒子
      .rightHalf-top-first {
        width: 49%;
        height: 22vh;
        margin-right: 2%;
        background: #E67D6F url("../../images/homePage/on_line_count.png")no-repeat center;
      }

      // 上半部分第二个盒子
      .rightHalf-top-second {
        width: 49%;
        height: 22vh;
        background: #E7A63F url("../../images/homePage/progress_bg.png")no-repeat center;
      }
    }

    // 绘制环图
    .rightHalf-ring {
      margin-top: 2vh;
      height: 40vh;
      background-color: #fff;

      p {
        padding-left: 2vw;
        height: 5vh;
        line-height: 5vh;
        color: #666;
        font-size: 16px;
      }

      .rightHalf-drawRing {}

    }

    // 实时报警
    .rightHalf-alarm {
      margin-top: 2vh;
      height: 20vh;
      margin-bottom: 2vh;
      background-color: #fff;

      p {
        height: 5vh;
        padding-left: 2vw;
        line-height: 5vh;
        color: #666;
        font-size: 16px;
      }
    }
  }
}
